@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
html, body, #root {
  height: 100%;
  background-color: #0A0A0B;
  color: #FAFAFA;
  font-family: 'Manrope', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

.pb-safe { padding-bottom: env(safe-area-inset-bottom); }
.pt-safe { padding-top: env(safe-area-inset-top); }
